<ion-view title="About" id="page4">
  <ion-content padding="true" class="has-header">
    <h3 id="about-heading1" style="color:#000000;">Concur</h3>
    <div id="about-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Mobile Application for taking pictures of bills and transforming them to text for easier processing and classification.</p>
    </div>
    <h4 id="about-heading2" style="color:#000000;">© 2018 KPMG. All rights reserved</h4>
    <div id="about-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Developer:
        <strong>Marios Kelepeshis</strong>
      </p>

      <p style="color:#000000;">Email:
        <strong>mkelepeshis@gmail.com</strong>
      </p>
    </div>
    <div>
      <img src="img/JeyS7YiPTIevaRWQa2Wa_kpmg_logo.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>