<ion-view title="Home" id="page2">
  <ion-content padding="true" class="has-header">
    <h3 id="home-heading3" style="color:#000000;text-align:center;">Take a picture of the bill or select one from your album</h3>
    
    <button id="home-button1" class="button button-positive button-large button-block icon ion-android-camera"></button>
    <input type="file" accept="image/*" id="file-input" name= "sample">
    <div>
      <img src="img/paper.png" style="display: none; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>